/*=====================================================================================================*/
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise sous 768px */
/*=====================================================================================================*/
@media all and (max-width: 768px)
{
#bloc_page /*largeur de la page et marge+auto=centré*/
{
    text-align: center;
    padding: 0px;
}

/*--------------------header--------------------*/

#logo_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo_nav img{/*dimension du logo*/
    width: 100px;
    padding: 20px 0px 20px 0px;
}
#logo_nav nav{
    width: 100%;
}
#logo_nav nav ul{
    display: flex;
    width: 100%;
    padding: 0px;
}
#logo_nav nav li{
    width: 50%;
    text-align: center;
    padding-bottom: 12px;
    border-bottom: 3px solid #F2F2F2;
}
#logo_nav nav li:hover
{
    color: #0065FC;
    border-top: none;
    border-bottom: 3px solid #0065FC; 
}
#logo_nav nav li:hover a{
    color: #0065FC;
}

#logo_nav nav a:hover
{
    border-top: none;
}
/*--------------------form ensble_loc--------------------*/
#slogan{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 20px 20px 20px;
}
#slogan h2{
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
}
#slogan h3{
    font-size: 15px;
    text-align: left;
}
.ensbl_loc{
    margin: 0px 0px 20px 20px;
    height: 50px;
    border: 2px solid #F2F2F2;
    border-radius: 15px 15px 15px 15px;
}
.fa-location-dot{
    font-size: 120%;
}
#loc_map{
    width: 50px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;

}
#bouton_recherche{
    display: none;
}
#rchville{
    width: 215px;
    font-size: 18px;
    padding-left: 15px;
    font-weight: bold;
}
.search{
    display: flex;
    width: 50px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 15px 15px 15px 15px;
    font-weight: bold;
    background-color: #0065FC;
    align-items: center;
    justify-content: center;
}
/*--------------------form ensbl_filtres--------------------*/
.ensbl_filtres
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 20px 20px;
}
#parent_filtre{
    font-size: 18px;

}
.ensbl_filtres div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bouton_filtre{
    border: 2px solid #F2F2F2;
    height: 50px;
    font-size: 16px;
    border-radius: 25px;
    margin: 15px 20px 0px 0px ;
}
.filter_txt{
    padding: 0px 10px 0px 10px;
}
.bouton_filtre .ico-filter {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.bouton_filtre .fa-solid{
    font-size: 120%;
}
.filters{
    display: flex;
}
.information{
    display: flex;
    align-items: flex-start;
    padding: 0px 0px 20px 20px;
}
.information .fa-info{
    border: 2px solid #F2F2F2;
    border-radius: 12px;
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
}
.information p{
    text-align: left;
    font-size: 16px;
    margin: 0px;
    padding: 5px 0px 0px 5px;
}
/*--------------------section logement--------------------*/
#hebergements
{
display: flex;
flex-direction: column-reverse;
width: 100%;
}
.card-title h4{
    text-align: left;
    font-size: 15px;
}
.card-price{
    text-align: left;
    font-size: 12px;
}
.star .fa-solid{
    font-size: 14px;
}
.card_heb{
    border-radius: 20px;
}
/*--------------------card populaire---------------------*/
#pop{
    width: 100%;
    border-radius: 0px;
    padding: 0px 20px 0px 20px;
    margin: 0px;
}
#title_pop h2{
    font-size: 22px;
    padding: 20px 20px 10px 0px;
}
#title_pop .fa-solid{
    font-size: 20px;
}
.card_image_pop{
    border: 2px solid white;
    width: 130px;
    height: 130px;
    border-radius: 20px 0px 0px 20px;
}
.card_pop-body{
    margin: 15px 20px 15px 15px ;
    padding: 0px;
}
/*--------------------card hébergement---------------------*/
#log{
    width: 100%;
    min-width: 0px;
    border-radius: 0px;
    padding: 0px 20px 0px 20px;
    margin: 0px;
    background-color: white;
}
#log h2{
    font-size: 22px;
    padding: 20px 20px 20px 0px;
    text-align: left;
}
.card_heb{
    width: 100%;
}
.card_image_log{
    border: 2px solid white;
    border-radius: 20px 20px 0px 0px;
    height: 120px;
}
.card_log-body{
    margin: 0px 0px 10px 10px;
}
#log h4{
    font-size: 15px;
    text-align: left;
    padding: 0px 0px 5px 0px;

}
#body_card_log{
    display: flex;
    flex-direction: column;
}
/*fermeture mq_mobil*/
}