/*=====================================================================================================*/
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 768px et 992px */
/*=====================================================================================================*/

@media all and (min-width: 768px) and (max-width: 992px){
/*=====================================================================================================*/
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise sous 768px */
/*=====================================================================================================*/

body {
    text-align: center;
    padding: 0px;
}
 h2 {
    font-size: 22px;
    padding: 20px 20px 10px 0px;
    text-align: left;
}
header, #section_formulaire_filtres, #hebergements, #activites {
    padding: 0px;
}
/*======================================FORMULAIRE============================*/
.ensbl_loc {
    margin: auto;
}
/*======================================FILTRES==============================*/
.ensbl_filtres {
    display: flex;
    flex-direction: column;
    margin: 20px 40px 0px 40px;
}
.ensbl_filtres h4 {
    padding: 20px;
    font-size: 28px;
}
.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgb( 200, 200, 200);


}
/*commun card=================================================================*/
#hebergements {
    display: flex;
    flex-direction: column-reverse;

}
#log {
    width: 100%;
    background-color: white;

}
#pop {
    width: 100%;
    margin: 0px;
}
#body_card_pop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card_pop {
    width: 40%;
}
.star {
    justify-content: center;
}
/*--------------------card activités---------------------*/
#activites {
    padding: 23px 40px 23px 40px;
    margin: 0px;
}
#body_card_activite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#body_card_activite a {
    width: 25%;
    height: 200px;
    margin: 15px;
}
.card_act h4 {
    text-align: left;
}
/*footer =================================================================*/
#section_footer {
    padding: 20px;
    margin: 30px 0px 0px 0px;
}
/*===========================================================================*/
}