/* box-sizing =================================================================*/
* {
    box-sizing: border-box;
   }
/* box-sizing =================================================================*/

h1, h2 {
    font-size: 22px;
    font-weight: bold;
}
h3{ 
    font-size: 16px;
    font-weight: lighter;
    margin-top: 4px;
}
h4 {
    font-size: 18px;
    font-weight: 900;
}
h5 {
    font-size: 20px;
    text-align: left;
    padding: 0px 0px 5px 0px;
    margin: 0px;
    
}
/* POLICE =================================================================*/
body {
    background: none; 
    font-family: 'Raleway', sans-serif, sans-serif;
    max-width: 1440px;
    margin: auto;
    width: 100%;
    padding-top: 21px;
}
header, #section_formulaire_filtres, #hebergements, #activites {
    padding: 0px 60px 0px 60px;
}

    /*==============HEADER========================================================*/
#titre_principal {
    display: flex;
    flex-direction: column;
}
#logo_nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}   
#logo_nav img {
    width: 108px;
    padding-left: 10px;
}
nav ul {
    width: 320px;
    list-style-type: none ;
    display: flex;
    justify-content: space-around;
}
nav a {
    font-size: 15px;
    color: black;
    padding-top: 30px;
    padding-left:20px;
    padding-right: 20px;
    text-decoration: none;
}
nav a:hover {
    width: 100%;
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
/*======================================FORMULAIRE============================*/
.search {
    display: none;
}
.fa-solid {
    font-size: 20px;
}
#formulaire {
    display: flex;
    flex-direction: row;
}
.ensbl_loc {
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    width: fit-content;
}

#loc_map {
    text-align: center;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50px;
    height: 50px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
#rchville {
    border: none;
    height: 38px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
#rchville:focus {

    outline: none;
}
#bouton_recherche {
    background-color: #0065FC;
    width: 130px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding-left: 18px;
}
#bouton_recherche:hover {
    box-shadow: 0px 5px 20px rgb(165, 165, 165);
    font-weight: bold;
    cursor: pointer;
}
/*======================================FILTRES==============================*/
.ensbl_filtres {
    display: flex ;
    align-items: center;
}
.bouton_filtre {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    background-color: white;
    border-radius: 25px;
    margin: 10px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    justify-content: space-between;
    position: relative;
    padding-left: 0px;
}
.bouton_filtre .ico-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 23px;
    color: #0065FC;
}
.filters {
    display: flex;

}
.filter_txt {
    padding: 0px 15px 0px 15px;
}
.bouton_filtre:hover {
    background-color: #0065FC;
    color: white;
    cursor: pointer;

  }
.information {
    display:flex ;
    text-align: center;
    align-items: center;
}
.information .fa-info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    border: 2px solid #F2F2F2;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}
/*commun card=================================================================*/
.card-title h4 {
    font-size: 16px;
    margin: 5px 0px 0px 0px;
}

.card-price {
    font-size: 14px;
    margin: 4px 0px
}
.price {
    font-weight: bold;
}
figure {
    margin: 0px;
}
.star .fa-solid {
    font-size: 12px;
}

.star {
    margin: 4px 0px 0px 0px ;
    display: flex;
    
}
.star_grey {
    color: #999;
}

.star_blue {
    color: #0065FC;
}

/*CARDS hebergement =================================================================*/
#log {
    width: 65%;
    min-width: 500px;
    margin-right: 1.5%;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 23px 2% 23px 2%;
}
.card_log {
    width: 30%;
    background-color: white;
    box-shadow: 0px 5px 20px rgb( 200, 200, 200);
    border-radius: 20px;
    border: 4px solid white;
    margin-bottom: 40px;
}
.card_image_log {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 109px;
    object-fit: cover;
}
.card_log a {
    color: #333; 
    text-decoration: none;
}
#body_card_log {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card_log-body {
    display: flex;
    padding: 0px 8px 0px 8px;
    flex-direction: column;
}
.card_log:hover {
    box-shadow: 0px 5px 20px rgb(165, 165, 165);
}


/*CARDS populaire =================================================================*/
#pop {
    width: 32%;
    min-width: 300px;
    margin-left: 1.5%;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 23px 2% 23px 2%;
}
.card_pop {
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 20px rgb( 200, 200, 200);
    border-radius: 20px;
    border: 4px solid white;
    margin-bottom: 30px;
}
.card_pop figure {
    display: flex;
}
.card_image_pop {
    border-radius: 15px 0px 0px 15px;
    width: 109px;
    height: 128px;
    object-fit: cover;
}
.card_pop a {
    color: #333; 
    text-decoration: none;
}
.card_pop-body {
    display: flex;
    padding: 5%;
    flex-direction: column;
    justify-content: space-between;
}
.card_pop:hover {
    box-shadow: 0px 5px 20px rgb(165, 165, 165);
}
/*============contener log et pop=============*/
#hebergements {
display: flex;
width: 100%;
}

#title_pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#body_card_pop {
    display: flex;
    flex-direction: column;
}
/*section activités =================================================================*/
#activites {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
/*CARDS activités =================================================================*/

#body_card_activite {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 444px;
}
#body_card_activite article {
    width: 22.36%;
}
#body_card_activite a {
    color: #333; 
    text-decoration: none;
}
.act_type1 {
    height: 444px;
}
.act_type2 {
    height: 235px;
}
.act_type3 {
    height: 164px;
}
.act_type4 {
    height: 196px;
}
.act_type5 {
    height: 205px;
}
.card_act {
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    object-fit: cover;
    height: inherit;
}
.card_act h4 {
    padding: 17px;
    margin: 0px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    font-size: 16px;
}
.card_act img {
    object-fit: cover;
    height:100%;
    border-radius: 20px;
}
/*footer =================================================================*/
#section_footer {
    background-color: #F2F2F2;
    font-family: 'Raleway', sans-serif, sans-serif; /*police de la page*/
    width: 100%;
    margin-top: 55px;
    padding: 40px 0px 40px 60px   ;

}
#section_footer ul,li, h4 {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#ensbl_menu {
    display: flex;
    justify-content: space-around;
}
#ensbl_menu ul {
    width: 33%;
}
#ensbl_menu li {
    padding-bottom: 15px;
}
#ensbl_menu a {
    color: #333; 
    text-decoration: none;
}

